li,a {
    padding:5px;
    list-style:none;
    font-size:11px;
}
.logo {
    height: 50px;
    width: 100px;
}
bg-dark {
    background-color: #343a40!important;
}
.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
}
#home{
    color: white;
    padding-left: 0px;
    }
.navbar-light .navbar-toggler-icon {
    background-color: orange;
    background-image: url(data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e);
}
.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: orange;
}
@media screen and (max-width:650px){
.logo {
    height: 40px;
    width: 80px;
}
}