{% extends 'base.html'%}{% load static %} {% load bootstrap4 %} {{ block.super}}


{% block content %}
{%include 'navbar.html'%}
    <div class="container">
    <h1>Buyer Form</h1>
  <form  action="{%url "cart:buyer-info" %}" method="post" enctype="multipart/form-data">

        {%csrf_token%}
        {% bootstrap_form form%}
        <input type="submit" class="btn btn-success btn-lg" value="Post">
  </form>
        <br>
        {%include 'card_carousel.html'%}
        <br>
    </div>
<style media="screen">
  body{
    color:white;
    background-color:black;
    padding-top:5%;
  }
.container{
  padding-top:10px;
}

@media screen and (max-width:650px){


}
</style>
{% endblock %}
