{% extends 'base.html'%}{% load static %}


{% block content %}
{%include 'navbar.html'%}
    <div class="container">
    <h1>Confirm Order</h1>

    <header>
  <h2>Shipment Information</h2>
</header>

<section>

    <h1>Heading</h1>
    <a href="{%url 'cart:buyer_info'%}">Edit/Update</a>
</section>

<footer>
  <p>Footer</p>
</footer>

    <header>
  <h2>Order Review</h2>
</header>

<section>

    <h1>Heading</h1>
    <p>Hello World.</p>
</section>

<footer>
  <p>Footer</p>
</footer>



    </div>
<style media="screen">
  body{
    color:white;
    background-color:black;
    padding-top:5%;
  }
.container{
  padding-top:10px;
}
/* Clear floats after the columns */
section:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

@media screen and (max-width:650px){


}
</style>
{% endblock %}
