{%extends 'base.html'%} {% load static %} {%block content%} {% load bootstrap4 %} {{ block.super}} {% load crispy_forms_tags %}


<!--Login-->
<div class="container py-5">
  <h1>Login</h1>
  <form method="POST">
    {% csrf_token %}
    {{ login_form|crispy }}
    <button class="btn btn-primary" type="submit">Login</button>
  </form>
  <p class="text-center">Don't have an account? <a href="/register">Create an account</a>.</p>
</div>

<style media="screen">
.container py-5{
  position:center
  }
body{
   margin-top:50px ;
   background-color:black;
   color:white;
   }
   </style>
{% endblock %}