{%extends 'base.html'%} {% load static %} {%block content%} {% load bootstrap4 %} {{ block.super}}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
      <link rel="stylesheet" href="{% static 'css/apc.css' %}">
      <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <title></title>
  </head>
  <body>
  <section class="overlay">
      <strong><h1 class="Digital" id="Digital">APC Delivers Legendary Reliability<br> When Every Minute Counts</h1></strong>
    </section>
        <br>
        <div id="container" class="container">
  <h2 style="color:white;text-align: center;">UPS power and data security that gets the job done</h2>
  <p style="color:white;">Companies around the world and within every industry rely on products from APC to keep their data centres up and running. Our uninterruptible power supply solutions, data security,
      and surge protector options work hard for you when maximum availability and guaranteed uptime is non-negotiable. Choose the battery backup and data protection built to ensure that business critical equipment
      and applications are never at risk. To find the products you need, start with our power supply calculator for business solutions.
</p>
            </div>

   <div id="container" class="container">
            <div class="row" id="row">
        {%for comp in comp %}
        <ul class="listing">
  <li class="product">
    <a style="background-color:white;" class="img-wrapper" href="{{ comp.get_absolute_url }}">
      <img style="background-color:white;" src="{% if comp.image %}{{ comp.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}" alt="Image" />
    </a>

    <div class="info">
      <div class="title">{{ comp.title }}</div>
      <div class="price">KSH{{ comp.price}}/=</div>

    </div>
    <div class="actions-wrapper">
      <a href="{{ comp.get_absolute_url }}" class="add-btn cart">Add To Cart</a>
    </div>
  </li>
</ul>

{%endfor%}
</div>
    </div>

    {%include 'card_carousel.html'%}

  </body>
</html>

{%endblock%}