{% load static %}
<section class="pt-5 pb-5">
<div class="container">
<div class="row">
    <div class="col-6">
<!--        <p class="mb-3" ><a style="color:white;" href="{%url 'on_sale'%}">Browse All Products</a></p>-->
    </div>
    <div class="col-6 text-right">
        <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
            <i class="fa fa-arrow-left"></i>
        </a>
        <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
            <i class="fa fa-arrow-right"></i>
        </a>
    </div>
    <div class="col-12">
        <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">

    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="row">
                {%for computer in random_items %}
                    <ul class="listing">
              <li class="product">
                <a style="background-color:white;" class="img-wrapper" href="{{ computer.get_absolute_url }}">
                  <img src="{% if computer.image %}{{ computer.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}" alt="Image" />
                </a>

                <div class="info">
                  <div class="title">{{ computer.title }}</div>
                        {% if computer.price == None %}
                    <div class="price"><a style="color:white;" href="{%url 'quote'%}">Request Quote</a></div>
                        {% else %}
                                  <div class="price">KSH:{{ computer.price }}/=</div>
                        {% endif %}
                                </div>

                              </li>
                                        </ul>
                            {%endfor%}
                    </div>
                </div>

<div class="carousel-item">
    <div class="row">
                {%for computer in random_items2 %}
                    <ul class="listing">
              <li class="product">
                <a style="background-color:white;" class="img-wrapper" href="{{ computer.get_absolute_url }}">
                  <img src="{% if computer.image %}{{ computer.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}" alt="Image" />
                </a>

                <div class="info">
                  <div class="title">{{ computer.title }}</div>
                    {% if computer.price == None %}
                    <div class="price"><a style="color:white;" href="{%url 'quote'%}">Request Quote</a></div>
                        {% else %}
                  <div class="price">KSH:{{ computer.price }}/=</div>
                    {% endif %}
                </div>

              </li>
                        </ul>
            {%endfor%}

    </div>
</div>


                <div class="carousel-item">
                    <div class="row">
{%for computer in random_items3 %}
<ul class="listing">
        <li class="product">
        <a style="background-color:white;" class="img-wrapper" href="{{ computer.get_absolute_url }}">
        <img  src="{% if computer.image %}{{ computer.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}" alt="Image" />
        </a>

 <div class="info">
                  <div class="title">{{ computer.title }}</div>
                    {% if computer.price == None %}
                    <div class="price"><a style="color:white;" href="{%url 'quote'%}">Request Quote</a></div>
                        {% else %}
                  <div class="price">KSH:{{ computer.price }}/=</div>
                    {% endif %}
                </div>

</li>
    </ul>
{%endfor%}

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</div>
</section>
<style media="screen">
#sidenav {
margin-top: 40px;
height: 40%;
width: 200px;
position: fixed;
z-index: 1;
top: 0;
left: 0;
background-color: #111;
overflow-x: hidden;
padding-top: 35px;
}

#sidenav a {
padding: 3px 5px 3px 13px;
text-decoration: none;
font-size: 15px;
color: white;
display: block;
}

#sidenav a:hover {
color: #f1f1f1;
}
li {
padding: 5px;
list-style: none;
}
ul{
padding-left:0px;
}
.img-fluid {
max-width: 100%;
height: 200px;
}
*
{
box-sizing: border-box;
font-family: 'Open Sans', 'Arial', sans-serif;
}
.listing
{
list-style: none;
margin: 0;
padding: 0px;
display: flex;
<!--  flex-wrap: wrap;-->
justify-content: space-between;

<!--  /*just for pen positioning*/-->
<!--  position: absolute;-->
<!--  top: 20%;-->
<!--  left: 50%;-->
<!--  transform: translateX(-50%);-->

<!--}-->

.product
{
width: 240px;
position: relative;
}

.product a
{
text-decoration: none;
}

.img-wrapper
{
display: block;
width: 100%;
height: 240px;
border: 1px solid #afafaf;
border-bottom: 0;
overflow: hidden;
text-align: center;
}

.img-wrapper img {
width: 250px;
height: 200px;
}
.info
{
width: 100%;
background: #000;
color: #fff;
position: relative;
padding: 40px 10px 20px 10px;
text-align: center;

vertical-align: middle;
transform: translateZ(0);
box-shadow: 0 0 1px rgba(0,0,0,0);
backface-visibility: hidden;
transition-property: color,height;
transition-duration: 0.3s,0.4s;
transition-timing-function: ease-out;
height: 83px;
}

.info:before
{
content: "";
position: absolute;
z-index: -1;
top: 0;
bottom: 0;
left: 0;
right: 0;
background: #fff;
transform: scaleY(0);
transform-origin: 50%;
transition: transform 0.3s ease-out;
}

.info:after
{
visibility: hidden;
pointer-events: none;
position: absolute;
z-index: -1;
content: '';
border-style: solid;
transition-duration: 0.3s;
transition-property: transform;
left: calc(50% - 11px);
bottom: 0;
border-width: 10px 10px 0 10px;
border-color: black transparent transparent transparent;
}

.product:hover .info
{
height: 40px;
}

.product:hover .info:before
{
transform: scaleY(0.7);
}

.product:hover .info:after
{
visibility: visible;
transform: translateY(10px);
}

.title
{
transition: transform 0.3s ease-out;
}
.title a
{
color: inherit;
}
.product:hover .title
{
transform: translateY(-18px);
font-weight: bold;
color: #000;
}

.price
{
background: #e32d2c;
position: absolute;
font-size: 1.3em;
padding: 4px 13px;
top: -15px;
right: 10px;
}

.price.sale
{
background: #00ba2f;
}

.price.old
{
font-size: 0.95em;
padding: 4px 6px;
text-decoration: line-through;
top: -43px;
}

.actions-wrapper
{
margin-top: 14px;
display: flex;
justify-content: space-around;
visibility: hidden;
}

.actions-wrapper *
{
width: 50%;
padding: 2px 0;
text-align: center;
color: #191919;
font-size: 0.95em;
font-weight: bold;
}
.actions-wrapper *:before
{
font-family: "FontAwesome";
margin-right: 8px;
}
.wishlist
{
border-right: 1px solid #afafaf;
}
.wishlist:hover
{
color: #e32d2c;
}
.wishlist:before
{
content: "\f08a";
}

.cart:hover
{
color: #0a75b9;
}
.cart:before
{
content: "\f07a";
}

.product:hover .actions-wrapper *
{
visibility: visible;
}

.note
{
position: absolute;
top: 0;
left: 0;
padding: 4px 8px;
font-size: 0.9em;
}

.note.on-sale
{
background: #00ba2f;
color: #fff;
}

.note.no-stock
{
background: #191919;
color: #fff;
}
@media screen and (max-width:650px){

}
</style>