{%extends 'base.html'%} {% load static %} {%block content%} {% load bootstrap4 %} {{ block.super}}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
      <link rel="stylesheet" href="{% static 'css/category.css' %}">
    <title></title>
  </head>
  <body>
        <div class="sidenav " id="sidenav">
    <ul>

        <h5 class="cate" style=" color:white;">Categories </h5>
      {% for cat in category %}
      <li {% if compcategory.slug == cat.slug %}class="selected"{% endif %}><a href="{{ cat.get_absolute_url }}">{{ cat.name }}</a></li>
      {% endfor %}
    </ul>
  </div>
        <div class="container" id="container">
            {%for comp in comp|slice:":1" %}
            <p style="color:white;">Category: {{ comp.compcategory }}</p>
            {% endfor %}
            <div class="row" id="row">
        {%for comp in comp %}
        <ul class="listing">
  <li class="product">
    <a style="background-color:white;" class="img-wrapper" href="{{ comp.get_absolute_url }}">
      <img src="{% if comp.image %}{{ comp.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}" alt="Image" />
    </a>
                <div class="info">
                  <div class="title">{{ comp.title }}</div>
                    {% if comp.price == None %}
                    <div class="price"><a style="color:white;" href="{%url 'quote'%}">Request Quote</a></div>
                        {% else %}
                  <div class="price">KSH:{{ comp.price }}/=</div>
                    {% endif %}
                </div>
  </li>
    </ul>
{%endfor%}

</div>
</div>
{%include 'card_carousel.html'%}
  </body>
</html>

{%endblock%}

{% block scripts %}
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   {% bootstrap_javascript %}
   <script>
   $(window).scroll(function() {
    var scroll = $(window).scrollTop();
        $('.sidenav, .slogan').css({'opacity':(( 300-scroll )/300)});
    });
   </script>
  {% endblock %}