{%extends 'base.html'%} {% load static %} {%block content%} {% load bootstrap4 %} {{ block.super}}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
      <link rel="stylesheet" href="{% static 'css/hp.css' %}">
     <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <title></title>
  </head>
  <body>
        <section class="overlay">
      <strong><h1 class="Digital" id="Digital">Premium performance &<br> support for your business</h1></strong>
    </section>
        <br>
    <div class="sidenav" id="sidenav">
    <ul>
        <h5 class="cate" style=" color:white;">Categories</h5>
      {% for cat in category %}
      <li {% if compcategory.slug == cat.slug %}class="selected"{% endif %}><a href="{{ cat.get_absolute_url }}">{{ cat.name }}</a></li>
      {% endfor %}
    </ul>
  </div>

        <div id="container"  class="container">
  <h2 style="color:white;text-align: center;">Business Workflow & Printing Solutions.</h2>
  <p style="color:white;">Streamline crucial business processes and tasks with the latest tools for efficient printer fleet management that helps reduce IT
      workload and costs, enhances employee productivity, and offers more secure document printing. With a range of commercial products, services, and solutions,
      HP is a trusted and experienced business partner that can help you fill gaps in your business.
</p>
  </div>

   <div id="container" class="container">
            <div class="row" id="row">
        {%for comp in comp %}
        <ul class="listing">
  <li class="product">
    <a style="background-color:white;" class="img-wrapper" href="{{ comp.get_absolute_url }}">
      <img style="background-color:white;" src="{% if comp.image %}{{ comp.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}" alt="Image" />
    </a>

    <div class="info">
      <div class="title">{{ comp.title }}</div>
      <div class="price">KSH{{ comp.price}}/=</div>

    </div>
    <div class="actions-wrapper">
      <a href="{{ comp.get_absolute_url }}" class="add-btn cart">Add To Cart</a>
    </div>
  </li>
</ul>

{%endfor%}
</div>
    </div>
      {%include 'card_carousel.html'%}
  </body>
</html>

{%endblock%}

{% block scripts %}
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   {% bootstrap_javascript %}
   <script>
   $(window).scroll(function() {
    var scroll = $(window).scrollTop();
        $('.sidenav, .slogan').css({'opacity':(( 300-scroll )/300)});
    });
   </script>
  {% endblock %}