{%extends 'base.html'%} {% load static %} {%block content%} {% load bootstrap4 %} {{ block.super}}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CBM</title>
</head>
<body>
<div class="">
    {%include 'carousel.html'%}
<br>
    <div class="container">
        {%include 'card_carousel.html'%}
        <a href="{%url 'on_sale'%}">Sale!!!</a>
    </div>
<br>
</div>
</body>
</html>
<style media="screen">
body{
 background-color:black;
 }
#row {
    width: 100%;
    margin: 0 auto;
  }

  #block {
    width: 15rem;
    float: left;
  }


  .card {
    padding: 15px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    margin: 15px;

  }

  .card-img-top {
    height: 150px;
    width: 150px;
  }

  .card-title {
    /* color: black; */
  }

  .card:hover {
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.2);
  }
</style>
{%endblock%}