<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-dark navbar-fixed-top">
  <a class="navbar-brand" href="{%url 'index'%}">
    <img class="logo" src="/static/images/cbm.png" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    {% for category in categories %}
    <div class="nav-item dropdown">
        <a style="color:white;"  href="#" class="py-3 nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ category.name }}
        </a>
        <div class="dropdown-menu rounded-0">

            {% for sub in subcategory %}
            <a class="dropdown-item" href="#">
                {{ sub.name }}
            </a>
            {% endfor %}

        </div>
    </div>
{% endfor %}
    </ul>

    <form class="form-inline my-2 my-lg-0" role="search" action="{% url 'search_results' %}">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search" name="name">
        <div class="input-group-btn">
          <button class="btn btn-primary" id="search" >Search</button>
        </div>
        </div>
    </form>
    {% if user.is_authenticated %}
        <a class="nav-link" href="/logout">Logout</a>
        <a class="nav-link" href="#">Welcome, {{user.username}}</a>
        <a href="{%url 'cart:cart_detail'%}"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>

      {% endif %}
  </div>
</nav>
<style media="screen">
li {
    padding:5px;
}
.logo {
    height: 50px;
    width: 100px;
}
</style>