{%extends 'base.html'%} {% load static %} {%block content%} {% load bootstrap4 %} {{ block.super}}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="">
    <title>CBM</title>
</head>
<body>
<br>
<h4>On Sale/ New Arrivals</h4>
<div class="row" id="row">
          {%for computer in computers %}

    <ul class="listing">
  <li class="product">
    <a class="img-wrapper" href="{{ computer.get_absolute_url }}">
      <img src="{% if computer.image %}{{ computer.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}" alt="Image" />
    </a>

    <div class="info">
      <div class="title">{{ computer.title }}</div>
      <div class="price">KSH{{ computer.price }}</div>

    </div>

    <div class="actions-wrapper">
      <a href="#" class="add-btn wishlist">Wishlist</a>
      <a href="#" class="add-btn cart">Cart</a>
    </div>
  </li>
</ul>
          {%endfor%}
        </div>

{%include 'card_carousel.html'%}
</body>
</html>

<style media="screen">
body{
  margin-top:50px ;
  background-color:black;
}
#row {
    width: 100%;
    margin: 0 auto;
  }
</style>
{%endblock%}