{%extends 'base.html'%} {% load static %} {%block content%} {% load bootstrap4 %} {{ block.super}}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/search.css' %}">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CBM</title>
</head>
<body>
        {% if name%}
          <h2 style="text-align:center; color:white;" class="name">Found {{ name|length }} of searched term {{message}}</h2>
        {% else %}
          <h2 style="text-align:center;" class="name"> Found 0 name for the search term {{message}}</h2>
        {% endif %}


            <div id="container" class="container">
            <div class="row" id="row">
        {% if name %}
        {% for result in name%}
                <ul class="listing">
  <li class="product">
    <a style="background-color:white;" class="img-wrapper" href="{{ result.get_absolute_url }}">
      <img src="{{ result.image.url}}" alt="Image" />
    </a>

    <div class="info">
      <div class="title">{{result.title}}</div>
      <div class="price">KSH:{{ result.price}}</div>

    </div>
    <div class="actions-wrapper">
      <a href="{{ result.get_absolute_url }}" class="add-btn cart">Add To Cart</a>
    </div>
  </li>
</ul>
        {% endfor %}
      {% endif %}
</div>
    </div>

<br>
{%include 'card_carousel.html'%}
</body>
</html>
{%endblock%}