{%extends 'base.html'%} {% load static %} {%block content%} {% load bootstrap4 %} {{ block.super}}
        {% if name%}
          <h2 style="text-align:center; color:white;" class="name">Found {{ name|length }} of searched term {{message}}</h2>
        {% else %}
          <h2 style="text-align:center;" class="name"> Found 0 name for the search term {{message}}</h2>
        {% endif %}


            <div id="container" class="container">
            <div class="row" id="row">
        {% if name %}
        {% for result in name%}
                <ul class="listing">
  <li class="product">
    <a class="img-wrapper" href="{{ result.get_absolute_url }}">
      <img src="{{ result.image.url}}" alt="Image" />
    </a>

    <div class="info">
      <div class="title">{{result.title}}</div>
      <div class="price">KSH:{{ result.price}}</div>

    </div>
    <div class="actions-wrapper">
      <a href="{{ result.get_absolute_url }}" class="add-btn cart">Add To Cart</a>
    </div>
  </li>
</ul>
        {% endfor %}
      {% endif %}
</div>
    </div>

<br>
{%include 'card_carousel.html'%}

<style media="screen">
body{
  margin-top:100px ;
  background-color:black;
}
#block {
  width: 100px;
  float: left;
}
.card{
  padding: 15px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card-img-top{
  height: 150px;
  width: 150px;
}

.card:hover {
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
}
@media screen and (max-width:650px) {
  body{
    padding-top: 5%;
  }
.name{
  font-size: 15px;
}
}
</style>
{%endblock%}