{%extends 'base.html'%} {% load static %} {%block content%} {% load bootstrap4 %} {{ block.super}}
<div class="col-md-8">
        {% if name%}
          <h2 style="text-align:center; color:white;" class="name">Found {{ name|length }} of searched term {{message}}</h2>
        {% else %}
          <h2 style="text-align:center;" class="name"> Found 0 name for the search term {{message}}</h2>
        {% endif %}

      {% if name %}
        {% for result in name%}
      <div class="card" id="" style="width: 18rem;">
        <a href="{{ result.get_absolute_url }}"><img class="card-img-top" src="{{ result.image.url}}" alt="Card image cap"></a>
        <div class="card-body">
          <h4 class="card-title">{{result.name}}</h4>
          <p class="card-text">Ksh {{result.price}}/=</p>
        </div>
      </div>
        {% endfor %}
      {% endif %}
</div>
<br>
<style media="screen">
body{
  margin-top:100px ;
  background-color:black;
}
#block {
  width: 100px;
  float: left;
}
.card{
  padding: 15px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card-img-top{
  height: 150px;
  width: 150px;
}

.card:hover {
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
}
@media screen and (max-width:650px) {
  body{
    padding-top: 5%;
  }
.name{
  font-size: 15px;
}
}
</style>
{%endblock%}